# 以 SQLite 入門 SQL

> 衍生計算欄位：運算符

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@ntu.edu.tw>

## 衍生計算欄位的生成

- **運算符**。
- 函數。
- 條件邏輯。

## 單獨存在的 `SELECT`

## 在沒有 `FROM` 的情況下，`SELECT` 也能夠單獨存在於一段 SQL 之中

```sql
SELECT 'Hello database!' AS hello_db; -- 單獨存在的 SELECT
```

## 在 `SELECT` 後面除了指定資料表的欄位，也能夠擺放常數，常見的常數類型有：

- 整數（integer）。
- 帶小數點的浮點數（real）。
- 用單引號標記的文字（text）。
- 空值、遺漏值（null）。

## 我們使用單獨存在的 `SELECT` 將常見的常數類型顯示出來

```sql
SELECT 5566 AS an_integer,
       5566.0 AS a_real,
       'Hello database!' AS a_text,
       NULL AS a_null;
```

## 使用 `TYPEOF()` 函數檢視常數類型

```sql
SELECT TYPEOF(5566) AS an_integer_type,
       TYPEOF(5566.0) AS a_real_type,
       TYPEOF('Hello database!') AS a_text_type,
       TYPEOF(NULL) AS a_null_type;
```

## 數值運算符

## 針對整數（integer）與帶小數點的浮點數（real）可以使用數值運算符衍生計算欄位

## 基礎數值運算符

- `+`：相加。
- `-`：相減。
- `*`：相乘。
- `/`：相除。
- `%`：計算餘數。
- `()`：優先運算。

## 運用數值運算符衍生以小時為單位的電影片長

```sql
SELECT runtime,
       runtime / 60 AS runtime_hour
  FROM movies
 LIMIT 5;
```

## 在使用 `/` 相除兩個整數的時候要特別注意所衍生的欄位依然會以整數類型存在

```sql
SELECT TYPEOF(runtime) AS typeof_runtime,
       runtime / 60 AS runtime_hour
  FROM movies
 LIMIT 5;
```

## 若希望衍生欄位是浮點數類型，要為分子或者分母加上小數點

```sql
SELECT runtime*1.0 / 60 AS runtime_hour_1,
       runtime / 60.0 AS runtime_hour_2,
       runtime*1.0 / 60.0 AS runtime_hour_3
  FROM movies
 LIMIT 5;
```

##  文字運算符

## 基礎文字運算符

`||`：兩個垂直線（可透過 `Shift + \` 按出來）能夠連接文字。 

```sql
SELECT runtime / 60 AS runtime_hours,
       runtime % 60 AS runtime_minutes,
	   (runtime / 60) || ' hours ' || (runtime % 60) || ' minutes' AS runtime_hour_min
  FROM movies;
```

```sql
/*
截至目前學起來的 SQL 有哪些？
SQL 寫作順序必須遵從標準 SQL 的規定。
*/
SELECT column_names  -- 選擇哪些欄位
  FROM table_name    -- 從哪個資料庫的資料表
 LIMIT m;            -- 查詢結果顯示 m 列就好
OFFSET k;            -- 查詢結果略過 k 列
```